.title {
  display: flex;
  justify-content: center;
  font-weight: bold;
}
.container {
  padding: 0 3rem;
}
table {
    width: 100%;
}
.yard {
  color: #22a01e;
}
.unload {
  color: #1610d7;
}
.out {
  color: #cc0000;
}
a {
  color: black;
}