.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem;
    background-color: white;
    box-shadow: 2px 2px 5px #999;
    padding: 2rem;
    border-radius: 0.5rem;
}

h2 {
    font-weight: bold;
}
  
.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
}

.pay-button {
    background-color: #e32726;
    color: white;
    box-shadow: 2px 2px 5px #999;
}

.payment-sorces-image {
    margin-top: 1.5rem;
    height: 3.5rem;
    width: 20rem;
    display: block;
}

::ng-deep .red{
    color: #772634;
    background: #f8d6da;
 }

 ::ng-deep .green{
    color: #698e46;
    background: #e0f0d6;
 }
