<mat-toolbar class="toolbar" color="primary">
  <div class="toolbar__">
    <button mat-icon-button (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <mat-icon [routerLink]="['/containers']" class="home">home</mat-icon>
  <div class="options">
    <div class="shopping-cart">
      <a routerLink="/shopping-cart"><mat-icon class="shopping-cart">shopping_cart</mat-icon></a>
    </div>
    <a><mat-icon class="shopping-cart" (click)="logout()">exit_to_app</mat-icon></a>
  </div> 
</mat-toolbar>
